<launch>
  <!--node name="$(anon cam1394x)" pkg="camera1394" type="camera1394_node" args="_guid:=00b09d0100d68de3 _video_mode:=1280x960_rgb8 _reset_on_open:=false _frame_rate:=8 _iso_speed:=100 _frame_id:=cam1">
    <remap from="camera/image_raw" to="cam1/image_raw" />
  </node>
  <node name="$(anon imgviewx)" pkg="image_view" type="image_view" args="image:=/cam1/image_raw" /-->

  <node name="$(anon cam1394)" pkg="camera1394" type="camera1394_node" args="_guid:=00b09d0100d68de4 _video_mode:=1280x960_rgb8 _reset_on_open:=false _frame_rate:=30 _iso_speed:=400 _frame_id:=cam2">
    <remap from="camera/image_raw" to="cam2/image_raw" />
  </node>
  <node name="$(anon imgview)" pkg="image_view" type="image_view" args="image:=/cam2/image_raw" />
</launch>
